.breadcrumb{
    background-color: rgba(39,40,63, 0);
    font-size: small;
    padding-left: 1rem;
}

a {
    color: rgba(236, 148, 148, 0.72);
    text-decoration: auto;
}

.breadcrumb li {
    display:inline;
    font-weight: 500;
}

.mat-card {
    background: rgba(91,16,16,0.36);
}
